<div class="flex items-center justify-center min-h-screen bg-gradient-to-r from-cyan-100 to-blue-100">
  <div class="relative flex flex-col m-6 space-y-8 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0">
    <!-- right side -->
    <div class="relative">
      <img
        src="image.png"
        alt="img"
        class="w-[250px] h-full hidden rounded-l-2xl md:block object-cover"
      />
    </div>

    <div class="flex flex-col justify-center p-8 md:p-14">
      <span class="mb-3 text-4xl font-bold text-gray-800">Reset Password</span>
      <span class="font-light text-gray-600 mb-8">
        Enter and confirm your new password
      </span>
      <form (ngSubmit)="onSubmit()" class="space-y-4">
        <div class="py-4">
          <span class="mb-2 text-md text-gray-700">New Password</span>
          <input
            id="newPassword"
            [(ngModel)]="newPassword"
            name="newPassword"
            type="password"
            class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500"
            required
          />
        </div>
        <div class="py-4">
          <span class="mb-2 text-md text-gray-700">Confirm Password</span>
          <input
            id="confirmPassword"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            type="password"
            class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500"
            required
          />
        </div>
        <button
          type="submit"
          class="w-full bg-cyan-500 text-white p-2 rounded-lg mb-6 hover:bg-cyan-600"
        >
          Reset Password
        </button>
      </form>
      <div class="text-center text-gray-500">
        Remembered your password?
        <a
          (click)="navigateToLogin()"
          class="font-bold text-cyan-500 hover:text-cyan-600 cursor-pointer"
        >
        Log in        </a>
      </div>
    </div>
  </div>
</div>
